<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{msg}}

        <h1>v-for的使用</h1>
        <div v-for="item in list">
            <p>{{item}}</p>
        </div>

        <div v-for="(item,index) in list">
            <p>{{item}}----{{index}}</p>
        </div>

        <ul>
            <li v-for="item in 'lsijdfosj dfosif'">{{item}}</li>
        </ul>

        <ul>
            <li v-for="item in 18">{{item}}</li>
        </ul>

        <ul>
            <li v-for="item in user">{{item}}</li>
        </ul>

        <ul>
            <li v-for="(item,key,index) in user">{{item}} ---- {{key}}----{{index}}</li>
        </ul>
    </div>

    <!-- 1.引包 -->
    <script src="./node_modules/vue/dist/vue.js"></script>

    <script>
        // 2. 实例化对象
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    msg: 'nihao',
                    list: ['狼厂', '鹅厂', '鸟厂', '马厂', '数字工厂', '猫场'],
                    user: {
                        name: 'xiaoming',
                        age: 23
                    }
                }
            }
        })
        //   3.设置显示的范围
        //   vm.$mount('#app')
    </script>
</body>

</html>